
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: ZuumeBold;
  src: url(./fonts//ZuumeBold.ttf);
}
.font-zuumeB{
  /* font-family: ZuumeBold; */
  font-family: 'Montserrat', sans-serif;
}

@font-face {
  font-family: Zuume;
  src: url(./fonts//ZuumeRegular.ttf);
}
.font-zuume{
  /* font-family: Zuume; */
  font-family: 'Montserrat', sans-serif;

}
.PhoneInput>input{
  padding: 6px;
  outline: none;
}
.contact-page-phoneinput>input{
  background-color: #545454;
}


/*  arrow stuff*/
/* heading and content font staandards zoomin */




















